@import 'tailwindcss';
@import "tw-prose";

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Lato', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
    --font-heading: 'Gilroy', ui-sans-serif, system-ui, sans-serif;
    --color-primary: #7fabc9;
    
    --font-size-xs: 0.6875rem;
    --font-size-sm: 0.8125rem;
    --font-size-base: 0.9375rem;
    --font-size-lg: 1.0625rem;
    --font-size-xl: 1.1875rem;
    --font-size-2xl: 1.375rem;
    --font-size-3xl: 1.625rem;
    --font-size-4xl: 1.875rem;
    --font-size-5xl: 2.25rem;
    --font-size-6xl: 3rem;
    --font-size-7xl: 3.75rem;
    --font-size-8xl: 4.5rem;
    --font-size-9xl: 6rem;
}

@layer utilities {
    .font-heading {
        font-family: var(--font-heading);
        font-weight: 700;
    }
}
